body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
}

.hero-bg{
    background-color: #23424a;
}

.width-container{
    color: white;
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
    padding: 4rem 0;
    border: 2px solid rgb(0, 0, 0);
    /* background-color: rgba(45, 182, 182, 0.349); */
}



.hero-content{
    width: 65%;

}

.content p{
    
    font-size: .8rem;
}

.btn{
    padding: 12px 24px;
    margin-top: 2rem;
    color: #23424a;
    background-color: #38cfd9;
    border-radius: 30px;
    font-size:.8rem;
    font-weight: bolder;
    border-width: 0px;
}

/* flexbox lyouts starts here  */

.first-row-content{
    display: flex;
    gap: 30px;
    color: black;
    /* border: 2px solid black; */
    text-align: center;
    padding: 2rem 0;
}

.first-row-content h2{
    color: rosybrown;
}

.second-row-content{
    display: flex;
    gap: 30px;
    color: rgb(255, 255, 255);
    /* border: 2px solid rgb(255, 255, 255); */
    text-align: center;
    padding: 2rem 0;
   
}

.content-bg{
    background-color: #0a6272;
}
