*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
img {
    max-width: 100%;
}

svg{
  max-width: 100%;
}

.logo{
  width: 75px;
}

.nav{
  display: flex;
  justify-content: space-around;
  /* width: 100%; */
  flex-grow: 1;
}

.nav__list{
  list-style: none;
  margin: 0;
  padding: 0;
  /* border: 2px solid white; */
}

.nav__list {
  display: flex;
 
  color: white;
  gap: 3rem;
  align-items: center;

}

.nav__list--primary{
  margin: 0 auto;
}

.nav__list button{
  background-color: #ffffff;
  border-radius: 30px;
  padding: 8px 16px;
  font-weight: bolder;
  border-width: 0px;
  font-size: 1rem;
}

.nav__link{
  text-decoration: none;
  color: #23424a;
}
.hero-bg {
  background-color: #23424a;
}

.width-container {
  width: 80%;
  max-width: 900px;
  margin: 0 auto;
  padding:  0;
  /* border-left: 1px  solid rgb(0, 0, 0);
  border-right:1px solid rgb(0, 0, 0); */
  /* border: 2px solid rgb(0, 0, 0); */
  /* background-color: rgba(45, 182, 182, 0.349); */
}

.hero-content {
  width: 65%;
  color: white;
  /* border: 2px solid white; */
}


.hero-img{
    align-self:flex-start;
    width: 50%;
    border: 2px solid rgb(255, 0, 0);
}

.hero-content p {
  margin-top: 1rem;
  font-size: 0.8rem;
}

.btn {
  padding: 12px 24px;
  margin-top: 2rem;
  color: #23424a;
  background-color: #38cfd9;
  border-radius: 30px;
  font-size: 0.8rem;
  font-weight: bolder;
  border-width: 0px;
}

.two-col-layout {
 
  padding: 3rem 0;
}

.left-col{
  width: 65%;
  
}

.left-col h2{
  color: #23424a;
  font-weight: bold;
  margin-bottom: 1rem;
}

.left-col p{
  margin-bottom: 1rem;
  font-size: .8rem;
  color: #23424a;
}

.right-col{
  width: 50%;
  padding: 2rem;
  text-align: center;
  color: white;
}

.right-col h2{
  margin-bottom: 1rem;
  font-weight: bolder;
}

.right-col p{
  margin-bottom: 2rem;
   font-size: .8rem;
}
.content-bg {
  background-color: #0a6272;
}

/* flexbox layouts starts here  */
.nav-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  padding: 1rem 0;
  /* border: 2px solid rgb(255, 0, 255); */
}

.hero-row{
    display: flex;
    gap: 2rem;
    /* border: 4px solid rgb(0, 255, 0); */
    padding: 3rem 0;
    
}

.content-row{
  display: flex;
  gap: 2rem;
  padding: 3rem 0;
}